@model IEnumerable<aspnet31.Models.Supplier>

@{
    ViewData["Title"] = "Supplier List";
	Layout = "_LayoutAdministrator";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">Create</button>
<br></br>

<table class="table table-hover table-striped table-bordered text-center" id="tableSupplier">
    <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col">No</th>
            <th class="text-center" scope="col">Supplier Name</th>
            <th class="text-center" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach(var item in Model)
        {
            <tr>
                <td class="text-center">@Html.DisplayFor(model => item.Id)</td>
			    <td class="text-center">@Html.DisplayFor(model => item.Name)</td>
			    <td class="text-center">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
				    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			    </td>
            </tr>
        }*@
    </tbody>
</table>

<!-- Modal Details -->
<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div class="row">
            <div class="col-md-4">
                <form>
                    <div class="form-group row">
                        <Label class="col-md-6 col-form-label" for="StaticId">Supplier Id : </Label>
                        <div class="col-md-12" id="inpId">
                        </div>
                        <Label class="col-md-7 col-form-label" for="StaticName">Supplier Name : </Label>
                        <div class="col-md-12" id="inpName">
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Create -->
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation-createSupplier" novalidate>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="supplierNameCreate">Supplier Name</label>
              <input type="text" class="form-control" id="supplierNameCreate" placeholder="Supplier name" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please insert Supplier name.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" id="submitCreateSupplier">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation-editSupplier" novalidate>
          <div class="form-row">
            <div class="col-md-4 mb-3" id="suppIdEdit">
              
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3" id="suppNameEdit">
              
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Save Changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>