@model IEnumerable<aspnet31.Models.Product>

@{
	ViewData["Title"] = "Product List";
}

<a class="btn btn-primary" asp-action="Create">Create</a>
<br></br>

<table class="table table-bordered text-center" id="tableProduct">
	<thead class="thead-dark">
		<tr>
			<th class="text-center" scope="col">No</th>
			<th class="text-center" scope="col">Product Name</th>
			<th class="text-center" scope="col">Supplier Name</th>
			<th class="text-center" scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		@*@foreach(var item in Model)
		{
			<tr>
				<td class="text-center">@Html.DisplayFor(model => item.Id)</td>
				<td class="text-center">@Html.DisplayFor(model => item.name)</td>
				<td class="text-center">@Html.DisplayFor(model => item.suppliers.Name)</td>
				<td class="text-center">
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}	*@	
	</tbody>
</table>